/****************general*************/

h1 {
	color: #000000;
}
body {
	font-family: corbel, arial, sunserif;
	margin: 0;
}
h1 {
	font-size: 36px;
	background-color: #599a68;
	padding: 30px 30px 0px 15px;
	border: 0px #000000 solid;
	margin: 0px 40px 0px;
	text-align: center;
}
h2 {
	font-size: 16px;
	background-color: #599a68;
	border: 0px #000000 solid;
	text-align: center;
}

#nav{
background-color: #599a68;
text-align: center;
list-style-type: none;
}

#nav li {
	display: inline-block;
	padding: 6px 8px 6px 8px;
}

#nav li a {
	color: #ffffff;
}

#nav li:hover{
background-color: #6ab47b
} 

a {
	color: #000000;
	text-decoration: none;
}

li {
	display: inline-block;
}

/****************header*************/

#header {
 background-color: #6ab47b;
 }

 h1 {
font-size: 36px;
margin: 0px;
text-align: center;
padding: 15;
color: #ffffff;
text-transform: uppercase;
 }
 h2{
 	text-align: center;
 	margin: 0;
 	color: #ffffff;
 }





/****************content*************/

 #content{
 		width: 600px;
 		margin: 30px auto;
 }

#content h4 {
	border-bottom: #599a68 solid 3px;
}




